<div class="jumbotron" style="position: relative;">
    <div class="text-center wavy-text">
        <h1 class="display-4" > ANTHONY VALENTINE IMMANUEL</h1>
        <h3>Front End Web Developer</h3>
    </div>

    <div style="position: absolute; bottom: 5 px; right: 10px;">
        <a href="//linkedin.com" target="_blank" class="">
            <img src="../../assets/Linkedin.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        </a>

        <a href="//github.com" target="_blank" class="">
            <img src="../../assets/Github.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        </a>
        <a href="//facebook.com" target="_blank" class="">
            <img src="../../assets/Facebook.jpg" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
        </a>
    </div>
</div> 