
<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download Pdf Resume</button>

    <accordion class="accordion">
        <accordion-group heading="Work Experience">
            <div style="text-align: left;">
                <h2 class="mb-0">IT Infrastructure Support</h2>
                <h3 class="text-primary">PT Maybank Finance Indonesia</h3>
                <ul>
                    <li>Work as IT Support</li>
                    <li>Monitoring each branch of Maybank in Indonesia ("CCTV availability and error check")</li>
                    <li>Checking Palo Alto Networks agent services daily </li>
                </ul>
            </div>
        </accordion-group>

        <accordion-group heading="Education">
            <div style="text-align: left;">
                <h2 class="mb-0">Bachelor Of Computer Engineering</h2>
                <h3 class="text-primary">Binus University</h3>
                <ul>
                    <li>Graduated from Binus University in November 2023</li>
                    <li>Graduated with a 3.15 GPA</li>
                    <li>Participated in extracurricular clubs such as Computer Engineering club, Bina Nusantara Computer Club, and others</li>
                </ul>
            </div>
        </accordion-group>

        <accordion-group heading="Certifications">
            <div style="text-align: left;">
                <h3>"Dimbimbing.Id" Front End Web Developer Bootcamp</h3>
                <ul>
                    <li>Obtained on 28 January 2023</li>
                </ul>
            </div>
            <hr>
            <div style="text-align: left;">
                <h3>Binus Computer Engineering PCB Making Tutorial</h3>
                <ul>
                    <li>Obtained on 4 March 2020</li>
                </ul>
            </div>
        </accordion-group>

        <accordion-group heading="Skills">
            <div class="row" style="text-align: left;">
                <div class="col">
                    <h3>Programming Languages:</h3>
                    <ul>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>Python</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Frameworks:</h3>
                    <ul>
                        <li>Angular</li>
                        <li>ReactJs</li>
                        <li>NodeJs</li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Other Skills.:</h3>
                    <ul>
                        <li>PCB Making</li>
                        <li>Languages</li>
                    </ul>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>
